@import (reference) "variables.less";


.preview-box {
	display: flex; flex-direction: column;
	place-content: stretch; max-width: 1400px;

	> .img-preview {
		width: 100%; aspect-ratio: 16/9;
		position: relative; overflow: hidden;
		
		#mixin-b.quick-bg(s2);
		
		// Previewed image
		> img { width: 100%; height: 100%; object-fit: contain; }

		// Container of image options
		> div {
			width: 100%; height: 96px; position: absolute; bottom: -72px;
			display: flex; padding: 8px; gap: 8px; justify-content: space-evenly;
			background-color: fade(@card-bg-color, 60%); opacity: .5;

			overflow-x: auto;
			
			> img {
				cursor: pointer;
				height: 100%; aspect-ratio: 16/9; object-fit: contain;
				&.selected { outline: solid 1px #FFFFFF88; }
			}
			transition: bottom .36s, opacity .36s;
		}
		&:hover > div { bottom: 0; opacity: 1; }
	}

	@media @not-phone-req {
		flex-direction: row;

		> .img-preview, > .text-overview { width: 50%; }
		> .text-overview {
			border-top-left-radius: 0; border-bottom-left-radius: 0;
		}
	}
	@media @phone-req {
		flex-direction: column;
		> .text-overview { border-top-left-radius: 0; border-top-right-radius: 0; }
	}
}