@import url("Styles/titleSection.css");
@import url("Styles/quickLinks.css");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* { box-sizing: border-box; }
html { scroll-behavior: smooth; }
html, body { width: 100%; height: 100%; margin: 0; }
body {
	background-color: var(--bgBody); color: var(--text);
	font-size: 100%; font-family: "Open Sans", sans-serif;
	position: relative;
}
a { color: var(--text); }


.textBoxes {
	width: calc(100% - 4em); max-width: 1400px; padding: 1em 2em;
	background-color: var(--bgSec1); border-radius: 0.2em;
	
	position: relative; z-index: 1;
}
.flexTextBoxes {
	display: flex;
	margin-bottom: 20px;
}
.textBoxes .title {
	border-right: 2px solid var(--text);
	padding-right: 10px; text-align: right; align-content: center;

	font-family: Merriweather, serif;
}
.textBoxes .sideContent h1 { font-size: 1.5em; }
.textBoxes .mainTitle {
	width: 100%; position: relative;

	border-bottom: 2px solid var(--text);
	padding-bottom: 10px; margin-bottom: 10px;
	text-align: center; align-content: center;

	font-family: Merriweather, serif;
}
.textBoxes h1, .textBoxes h2 { font-weight: 500; margin: 10px 0; }
.textBoxes .sideContent {
	width: 30%;
	max-width: 14em;
	float: left;
	display: flex; justify-content: right; align-items: center;
	margin-right: 10px;
}
.textBoxes .scOpposite
{
	order: 2; justify-content: left;
	margin-right: 0; margin-left: 10px;
}

.textBoxes .sideContent img { width: 100%; }

.textBoxes .content { min-width: calc(100% - 14em); width: 70%; float: left; }
.textBoxes .centeredContent { width: 100%; text-align: center; align-content: center; }

.showcase .textBoxes .sideContent { width: 40%; max-width: 28em; margin-right: 30px; }
.showcase .textBoxes .scOpposite { margin-right: 0; margin-left: 30px; }
.showcase .textBoxes .content { min-width: calc(100% - 28em); width: 60%; }


.textBoxes .toggleDiv { overflow: hidden; }
.textBoxes .toggleDivClick:hover { background-color: var(--bgSec1H); }
.textBoxes .openCloseIcon {
	position: absolute; right: 0;
	font-size: inherit;
}

.textBoxes a {
	text-decoration: underline;
	/* outline: 0 solid var(--bgSec1H); */
	box-shadow: 0 0 0 0 var(--bgSec1);
	transition: background-color 0.18s, box-shadow 0.18s;
}
.textBoxes a:hover {
	background-color: var(--bgSec1H);
	/* outline: 0.15em solid var(--bgSec1H); */
	box-shadow: 0.15em 0 var(--bgSec1H), -0.15em 0 var(--bgSec1H);
	text-decoration: underline;
}


@media screen and (orientation: portrait) {
	.textBoxes { width: calc(100% - 3em); display: block; padding: 0.75em 1.5em; }
	.flexTextBoxes {
		display: block;
		margin-bottom: 3.125em;
	}
	.flexTextBoxes:last-of-type {
		margin-bottom: 1.25em;
	}
	.textBoxes .sideContent {
		width: 100%;
		max-width: none;
		float: none;
		margin-right: 0;

		justify-content: center;
	}
	.textBoxes .scOpposite
	{
		order: 1;
		margin-left: 0;
	}
	.textBoxes .title {
		width: 100%;
		max-width: none;
		float: none;

		border-right: none;
		padding-right: 0;
		border-bottom: 2px solid var(--text);
		padding-bottom: 10px;
		text-align: center;
	}
	.textBoxes .content {
		width: 100%;
		min-width: none;
		float: none;
		padding-top: 10px;
	}

	.showcase .textBoxes .sideContent {
		width: 100%;
		max-width: none;
		margin-right: 0;
	}
	.showcase .textBoxes .scOpposite {
		margin-left: 0;
	}
	.showcase .textBoxes .content {
		width: 100%;
		min-width: none;
	}

}