.project-card-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 2em;
  flex-wrap: wrap;
  padding: 1em 0;
}
@media screen and ((orientation: portrait) or (max-width: 800px)) {
  .project-card-container {
    font-size: 0.65em;
    gap: 1em;
  }
}
.project-card {
  width: 12.9em;
  height: 17.2em;
  position: relative;
  overflow: hidden;
  color: #FFFFFF;
  text-shadow: 0 0 4px #000000;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto 0fr;
  transition: grid-template-rows 0.3s;
}
.project-card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 0.3s, filter 0.3s;
}
.project-card:hover {
  grid-template-rows: 0fr auto 1fr;
}
.project-card:hover > img {
  transform: scale(1.05, 1.05);
  filter: blur(1.5px);
  transition: transform 0.5s, filter 0.5s;
}
.project-card h2,
.project-card p {
  margin: 0;
}
.project-card > .ctitle,
.project-card > .ccontent {
  background-color: rgba(0, 0, 0, 0.6);
}
.project-card > .ctitle {
  grid-row-start: 2;
  gap: 0.25ex;
  font-size: 0.95em;
  padding: 0.68421053em 0;
  display: flex;
  flex-direction: column;
  border-bottom: 0.275ex solid #FFFFFF;
}
.project-card > .ctitle > p {
  font-size: 0.75em;
}
.project-card > .ccontent {
  grid-row-start: 3;
  overflow: hidden;
  overflow-wrap: break-word;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1ex;
  grid-template-rows: auto;
  grid-auto-rows: 1fr;
}
.project-card > .ccontent > p {
  font-size: 0.9em;
  padding: 0 1ex;
}
.project-card > .ccontent > p:last-child {
  padding-bottom: 0.72222222em;
}
.project-card > .ccontent > .ctags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1ex;
  font-size: 0.65em;
  padding-top: 1em;
}
.project-card > .ccontent > .ctags > p {
  padding: 0.2em 0.8ex;
  border-radius: 0.6em;
}
.project-card > .ccontent > .ctags > p.cbg1 {
  background-color: #131420;
}
.project-card > .ccontent > .ctags > p.cbg2 {
  background-color: #393C60;
}
.project-card > .ccontent > .ctags > p.cbg3 {
  background-color: #24263D;
}