@import (reference) "variables.less";


/* ---- Navigation Section ---- */

.navLinks {
	width: 100%; padding: 0 1em;
	display: flex; justify-content: center;
	flex-wrap: wrap; gap: 1em;

	a {
		width: 8.7em; border-radius: 0.2em;
		padding: 1em 1ex; text-align: center;

		#mixin_b.quick-bg(s_1);
		&[href]:hover { #mixin_b.quick-bg(s_1, hover); }
		transition: background-color .18s;

		&:not([href]) {
			filter: brightness(50%) contrast(97.5%);
			* { filter: blur(0.5px); }
		}

		i { font-size: 3.75em; } p { margin: .6em 0 0 0; }
	}
}


/* ---- Footer Section ---- */

.footer {
	width: 100%; display: flex;
	#mixin_b.quick-bg(s_1);

	a {
		width: 3.6em; padding: 1em; text-align: center; justify-items: center;

		&:hover { #mixin_b.quick-bg(s_1, hover); }
		transition: background-color .18s;
	}

	i, svg { font-size: 1.5em; }
}

.i {
	&con {
		display: block; width: 1em; height: 1em;
		stroke-width: 0; stroke: currentColor; fill: currentColor;
	}
	&-github, &-linkedin { width: 0.857421875em; }
}