@import url("variables.css");


/* ---- Navigation Section ---- */
/* #region */

/* The page slice holding the links */
.navLinks {
	width: 100%; padding: 0 1em;
	display: flex; justify-content: center;
	flex-wrap: wrap; gap: 1em;
}

/* #region Page links */
	.navLinks a {
		width: 8.7em; border-radius: 0.2em; float: left;
		padding: 1em; text-align: center;

		background-color: var(--bgSec1);
		transition: background-color 0.18s;
	}
	.navLinks a[href]:hover { background-color: var(--bgSec1H); }
/* #endregion Page links */

/* #region Inactive links (current page) */
	.navLinks a:not([href]) { filter: brightness(50%) contrast(97.5%); }
	.navLinks a:not([href]) * { filter: blur(0.5px); }
/* #endregion Inactive links (current page) */

/* #region Text Decor */
	.navLinks i { font-size: 3.5em; text-decoration: none; }
	.navLinks a p { margin-bottom: 0; }
/* #endregion Text Decor */

/* #endregion */


/* ---- Footer Section ---- */
/* #region */

.footer { /* The footer page slice */
	width: 100%; display: flex;
	background-color: var(--bgSec1);
}

/* #region Footer links */
	.footer a {
		width: 3.6em; float: left;
		padding: 1em; text-align: center;

		transition: background-color 0.18s;
	}
	.footer a:hover { background-color: var(--bgSec1H); }
/* #endregion Footer links */

.footer i { font-size: 1.5em; text-decoration: none; } /* Text Decor */

/* #endregion */