html { scroll-behavior: smooth; box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
html, body { width: 100%; height: 100%; margin: 0; }


.opening { position: relative; overflow: hidden; }
.opening, .opening > div { width: 100%; height: 100vh; height: 100svh; }
.opening > div {
	position: fixed; left: 0; top: 0;
	align-content: center; overflow: hidden;
}

.opening > div > img {
	width: 100%; height: 100%; object-fit: cover; background-color: #000;
	position: absolute; left: 0; top: 0; z-index: -1;
}