@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans");
@import url("variables.css");


/* ---- Title Section ---- */

/* Draft HTML:
<div class="opening">
	<div>
		<img src="Background.png">
		<div class="titleBox bgLeft">
			<h1>Title</h1>
			<p>Subtitle</p>
		</div>

		<div class="arrowBox">
			<a href="#pageContent">
				<i class="material-symbols-outlined">south</i>
			</a>
		</div>
	</div>
</div>

<div id="pageContent">...</div> */


/* #region Section Container */

	/* Controls section's size in the page */
	.opening, .opening > div { width: 100%; height: 100vh; height: 100svh; }

	.opening { position: relative; }

	/* Where everything is actually contained; fixed position to not scroll */
	.opening > div { position: fixed; left: 0; top: 0; align-content: center; overflow: hidden; }
	
	/* #region Background Image */
		.opening > div > img {
			width: 100%; height: 100%; object-fit: cover; /* Covers the background */

			position: absolute; left: 0; top: 0; /* Doesn't occupy space */
			z-index: -1; /* Makes it a background */
		}
		
		/* #region Image zoom-position */
			.opening > div > img.bgLeft { object-position: 32% 50%; }
			.opening > div > img.bgMid { object-position: 50% 50%; }
			.opening > div > img.bgRight { object-position: 63% 50%; }
		/* #endregion Image zoom-position */
	/* #endregion Background Image */

/* #endregion Section Container */


/* #region TitleBox */

	@keyframes titleFadeIn {
		from { top: 1em; opacity: 0; }
		to { top: 0; opacity: 1; }
	}

	/* #region Title Container (white border with text to its side) */

		:root { --title-bgC: #00000030; --title-txtC: #ffffff; }

		.opening .titleBox {
			position: relative; color: var(--title-txtC);
			min-height: 10em; width: 35%; /* Desired text box size */

			max-height: 100%; overflow: auto; /* Caps title box */
			
			/* Easier to see in brighter backgrounds */
			text-shadow: 0 0 4px #000000; background-color: var(--title-bgC);

			align-content: center; /* Centers content vertically */
		}
		/* #region Positioning and Border */
			.opening .titleBox.tBRight {
				left: 60%; border-left: 2px solid var(--title-txtC);
				padding-left: 10px;
			}
			.opening .titleBox.tBLeft {
				left: 5%; border-right: 2px solid var(--title-txtC);
				padding-right: 10px; text-align: right;
			}
		/* #endregion */

	/* #endregion */
	
	/* Header Decor */
	.opening .titleBox h1 {
		font-size: 2.1em; font-weight: 500;
		font-family: Merriweather, serif;
		margin: .47619em 0;
	}

	/* #region Animations */
		/* Text fade-in */
		.opening .titleBox h1, .opening .titleBox p {
			position: relative;
			animation: titleFadeIn 0.95s ease backwards;
		}
		.opening .titleBox p { animation-delay: .7s; } /* Subtitle delay */
	/* #endregion */

/* #endregion */


/* #region Scroll-down Arrow */
	/* #region Full-Width Arrow Container */
		@keyframes overshootUp {
			from { transform: translate(0, 1em); }
			to { transform: translate(0, -5.081em); }
		}
		@keyframes fallInPosition {
			from { transform: translate(0, -5.081em); }
			to { transform: translate(0, -5em); }
		}
		
		@keyframes growthCompensation {
			from { transform: translate(0, -5em); }
			to { transform: translate(0, -5.75em); }
		}
		
		.arrowBox {
			width: 100%; height: auto;
			display: flex; justify-content: center;

			position: absolute; left: 0; top: 100%;

			animation: overshootUp .7s cubic-bezier(.4, .81, .54, 1) 2s backwards,
				fallInPosition .175s cubic-bezier(.3, 0, .7, 1) 2.7s forwards,
				growthCompensation .95s ease 2.875s forwards;
		}
	/* #endregion Full-Width Arrow Container */

	/* #region Circular Link */
		@keyframes growCircle {
			from {
				width: 1em; height: 1em;
				box-shadow: 0 2px 2px -2px #000000;
			}
			to {
				width: 2.5em; height: 2.5em;
				box-shadow: 0 2px 5px -2px #000000;
			}
		}
		.arrowBox > a {
			text-decoration: none; border-radius: 5em;
			background-color: var(--bgSec1);

			display: flex; align-items: center; justify-content: center;
			
			transition: background-color 0.18s, transform 0.12s ease-out;
			animation: growCircle .95s ease 2.875s both;
		}
		.arrowBox > a:hover { background-color: var(--bgSec1H); transform: scale(1.05, 1.05); }
	/* #endregion Circular Link */

	/* #region Arrow Icon */
		@keyframes spinArrow {
			from { transform: rotate(-270deg); }
			to { transform: rotate(0deg); }
		}
		@keyframes growArrow {
			from { font-size: 0; }
			to { font-size: 1.2em; }
		}
		
		.arrowBox > a i {
			height: auto; margin: 0;
			animation: growArrow .95s ease-out 2.875s both,
				spinArrow .95s ease 2.875s backwards;
		}
	/* #endregion Arrow Icon */
/* #endregion */


/* #region Post-Title Content */
	:root { --content-spacing: 2.5em; }
	/* Places the page content in front of the title and gives it a fade-in shadow */
	.opening + div {
		position: relative; z-index: 1;
		
		width: 100%; padding-top: calc(var(--content-spacing) - 11px);
		display: flex;justify-content: center; flex-wrap: wrap; gap: var(--content-spacing);

		background-color: var(--bgBody); box-shadow: 0 0 10px 11px var(--bgBody);
	}
/* #endregion */



/* ---- For Phones ---- */
@media screen and ((orientation: portrait) or (max-width: 800px)) {
	.opening .titleBox {
		min-height: 1em; width: 75vw; max-width: 500px; /* New desired text box size */
		margin: 0 auto; /* Centers itself horizontally */
		/* New border */
		border-bottom: 2px solid var(--title-txtC);
		border-top: 2px solid var(--title-txtC);
	}
	/* #region Undoes previous border */
		.opening .titleBox.tBLeft { border-right: none; }
		.opening .titleBox.tBRight { border-left: none; }
		.opening .titleBox.tBRight, .opening .titleBox.tBLeft
		{ left: 0; padding: 0 1ex; text-align: center; }
	/* #endregion Undoes previous border */
}