@import (reference) "variables.less";


/* ---- Title Section ---- */

// #region Animations
	@keyframes titleFadeIn {
		from { top: 1em; opacity: 0; }
		to { top: 0; opacity: 1; }
	} // Title Box's title and subtitle


	// #region Full-Width Arrow Container
		@keyframes overshootUp {
			from { transform: translate(0, 1em); }
			to { transform: translate(0, -5.081em); }
		}
		@keyframes fallInPosition {
			from { transform: translate(0, -5.081em); }
			to { transform: translate(0, -5em); }
		}
		
		@keyframes growthPosCorrection {
			from { transform: translate(0, -5em); }
			to { transform: translate(0, -5.9em); }
		}
	// #endregion Full-Width Arrow Container

	// #region Circular Scroll-Down Link
		@keyframes growCircle {
			from {
				width: 1em; height: 1em;
				box-shadow: 0 2px 2px -2px #000000;
			}
			to {
				width: 2.8em; height: 2.8em;
				box-shadow: 0 2px 5px -2px #000000;
			}
		}
	// #endregion Circular Link

	// #region Arrow Icon
		@keyframes spinArrow {
			from { transform: rotate(-270deg); }
			to { transform: rotate(0deg); }
		}
		@keyframes growArrow {
			from { font-size: 0; }
			to { font-size: 1.4em; }
		}
	// #endregion Arrow Icon
// #endregion

.opening {
	.titleBox {
		@title-bgC: fade(@card-bg-color, 19%); @title-border: 2px solid @card-txt-color;

		position: relative; color: @card-txt-color; align-content: center; padding: 0 2ex;
		min-height: 10em; width: 35%; max-width: 60ex; max-height: 100%; overflow: auto; // Desired size

		@media @phone-req {
			min-height: 1em; width: 75%; max-width: 500px; margin: 0 auto; // New desired size, centers self
			border-top: @title-border; border-bottom: @title-border; // New border
		} // Resizes, self-centers, and borders up top and bottom
		
		&.tB {
			@media @not-phone-req {
				&Right { margin-left: 60%; border-left: @title-border; }
				&Left { margin-right: 60%; border-right: @title-border; float: right; text-align: right; }
			}
			@media @phone-req { &Right, &Left { text-align: center; } }
		} // Positioning and Border



		text-shadow: 0 0 4px #000; background-color: @title-bgC; // Easier to see in brighter backgrounds
	
		h1 {
			font-family: Merriweather, serif; font-weight: 500;
			font-size: 2.1em; margin: (1em / $font-size) 0;
		} // Header Decor

		h1, p { position: relative; animation: titleFadeIn 0.95s ease backwards; }
		p { animation-delay: .7s; } // Subtitle delay
	} // Title Box - borders, page title, and subtitle


	.arrowBox {
		width: 100%; height: auto;
		display: flex; justify-content: center;

		position: absolute; left: 0; top: 100%;

		@upTime: .7s; @upDelay: 2s;
		@fallTime: .175s; @fallDelay: (@upDelay + @upTime);
		@arrowTime: .95s; @arrowDelay: (@fallDelay + @fallTime);

		animation: overshootUp @upTime cubic-bezier(.4, .81, .54, 1) @upDelay backwards,
			fallInPosition @fallTime cubic-bezier(.3, 0, .7, 1) @fallDelay forwards,
			growthPosCorrection @arrowTime ease @arrowDelay forwards;

		>button {
			padding: 0; border: none; border-radius: 5em;
			font-size: 1em; color: white; cursor: pointer;

			display: flex; align-items: center; justify-content: center;

			// Hover background transition
			#mixin_b.quick-bg(s_1);
			&:hover { #mixin_b.quick-bg(s_1, hover); transform: scale(1.1, 1.1); }
			transition: background-color 0.18s, transform 0.12s ease-out;
			
			animation: growCircle @arrowTime ease @arrowDelay both; // Circle growth anim
		
			i {
				height: auto; margin: 0;
				animation: growArrow @arrowTime ease-out @arrowDelay both,
					spinArrow @arrowTime ease @arrowDelay backwards;
			} // Arrow Icon (anims. font increase and rotation)
		} // Scroll-Down Circular Link (anims. circle growth)
	} // Horiz. strip containing the scroll-down arrow (anims. overshoot, fall, and circle growth correction)


	+div {
		width: 100%; position: relative; z-index: 1;
		display: flex; justify-content: center; flex-wrap: wrap;
		
		@content-spacing: 2.5em;
		padding-top: calc(@content-spacing - 11px); gap: @content-spacing;

		#mixin_b.quick-bg(body);
		#mixin_b.mode-color({ box-shadow: 0 0 10px 11px @c-ref[def]; }, body);
	} // Post-Title Content - Places the page content in front of the title and gives it a fade-in shadow
}